.go-top {
    position: fixed;
    right: 200px;
    bottom: 20px;
    transform: translateY(-10%);
    font-size: 13px;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 12%;
    font-weight: bold;
    
    background: linear-gradient(45deg, #FF6B0A, #FF4500);
    color: white;
    transition: all 0.3s ease-in-out;
    display: none;
    z-index: 1000;
}

body.theme-dark .go-top {
    background: linear-gradient(45deg, #ff6b0a, #ff4500);
    color: white;
}

body.theme-light .go-top {
    background: linear-gradient(45deg, #ffcc00, #ff9900);
    color: #333;
}

.go-top--show {
    display: block;
}

.go-top:hover {   
    transform: scale(1.1);
}
